include LICENSE
include README.md
include THIRD_PARTY_LICENSES.txt
include requirements.txt
include test-requirements.txt
recursive-include vpcloud_client *.py
recursive-include vpcloud_client py.typed
